.App {
    text-align: center;
  }

html {
	--section-background-color: black;

	--image-gradient: black;

	
}

.red {
	color: rgb(203, 58, 36) !important;
}

/* --------- */
/* Home section */
/* --------- */

.home-header {

	padding-top: 80px !important;
}

.home-section {
	background-image:  linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),url(./Assets/gallery.jpg);
	position: relative;
	z-index: -1;
	background-color: #010001;
	background-position: top center;
	max-width: 100%;
	height: auto;
background-size:cover;  
background-repeat: no-repeat;
	padding-bottom: 30px !important;
	padding-top: 30px !important;
}


.home-content {
	padding: 9rem 0 2rem !important;
	color: white;
	text-align: left;
	
}

.heading {
	font-size: 2.4em !important;
	padding-left: 50px !important;
	
}

.heading-name {
	font-size: 1.0em !important;
	padding-left: 45px !important;
}

.main-name {
	color: #212ac5;
}

.home-about-section {
	max-width: 100%;
	height: auto;
background-size: contain;  
background-repeat: no-repeat;
	position: relative;
	background-color: white;
	padding-bottom: 70px !important;
	padding-top: 70px !important;
}

.home-about-description {
	color: black !important;
	padding-top: 20px;
	padding-bottom: 20px !important;
	text-align: center;
	
}

.home-about-description-wheels{
	background-color: rgb(203, 58, 36);
	color: white !important;
	font-weight: bolder;
	padding-bottom: 20px !important;
	text-align: center;
	
}
.home-about-description-exhibit{
	background-color: rgb(203, 58, 36);
	color: white !important;
	font-weight: bolder;
	padding-bottom: 20px !important;
	text-align: center;
	
}
.home-about-description-proclaim{
	background-color: rgb(203, 58, 36);
	color: white !important;
	font-weight: bolder;
	padding-bottom: 20px !important;
	text-align: center;
	
}

.home-about-description-director{
	background-color: rgb(203, 58, 36);
	color: white !important;
	font-weight: bolder;
	padding-bottom: 20px !important;
	text-align: center;
	
}




.home-about-body {
	padding-top: 50px;
	font-size: 1.2em !important;
	text-align: left;
}

.home-about-body-director {
	padding-top: 100px;
	font-size: 2.2em !important;
	text-align: center;
}


.home-about-social {
	text-align: center !important;
	padding-top: 25px;
	color: white !important;
}

.home-about-social-links {
	justify-content: center !important;
	padding-top: 15px !important;
	display: inline-block !important;
	position: relative !important;
	padding-inline-start: 0 !important;
}

.home-social-icons {
	position: relative !important;
	display: inline-block !important;
	width: 2em !important;
	height: 2em !important;
	text-align: center !important;
	font-size: 1.2em !important;
	line-height: 2em !important;
	background: rgba(255, 255, 255, 0.972) !important;
	border-radius: 50% !important;
	transition: 0.5s !important;
}

.home-social-icons::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #212ac5;
	transition: 0.5s;
	transform: scale(0.9);
	z-index: -1;
}

.home-social-icons:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #212ac5;
}

.home-social-icons:hover {
	color: #212ac5;
	box-shadow: 0 0 5px #212ac5;
	text-shadow: 0 0 2px #212ac5;
}

.social-icons {
	display: inline-block !important;
	padding-right: 15px;
	padding-left: 15px;
}

a.btn.btn-info.btn-lg{
	color: white;
	background-color: rgb(203, 58, 36);
}

.img-fluid{
	max-width: 100%;
	height: auto;
}

.myAvtar {
	justify-content: center !important;
	padding-top: 9em !important;
}
/* --------- */
/* Footer */
/* --------- */

.footer {
	background-color: rgb(203, 58, 36);
	bottom: 0 !important;
	padding-top: 10px !important;
	padding-bottom: 8px !important ;
}
.footer-copywright {
	text-align: center !important;
}

.footer-body {
	text-align: center !important;
}

@media (max-width: 767px) {
	.footer-copywright {
		text-align: center !important;
	}

	.footer-body {
		text-align: center !important;
	}
}

.footer h3 {
	font-size: 1em;
	color: white !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}
.footer-icons {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	padding: 0 !important;
}

.blockquote-footer {
	color: #474fee !important;
}

/* --------- */
/* Earth */
/* --------- */

.earth-section {
	background-image:  linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),url(./Assets/\ cubesMain.jpg);
	position: relative;
	z-index: -1;
	background-color: #010001;
	background-position: top center;
	max-width: 100%;
	height: auto;
background-size:cover;  
background-repeat: no-repeat;
	padding-bottom: 30px !important;
	padding-top: 30px !important;
}

.earth-content {
	padding: 9rem 0 2rem !important;
	color: white;
	text-align: left;
	
}

/* --------- */
/* director */
/* --------- */

.dir-section {
	background-image:  linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),url(./Assets/landscape.webp);
	position: relative;
	z-index: -1;
	background-color: #010001;
	background-position: top center;
	max-width: 100%;
	height: auto;
background-size:cover;  
background-repeat: no-repeat;
	padding-bottom: 30px !important;
	padding-top: 30px !important;
}

.dir-content {
	padding: 9rem 0 2rem !important;
	color: white;
	text-align: left;
	
}